<%- include('../includes/head&side.ejs') %>


    <section class="vh-100 gradient-custom  p-4 ">
        <link rel="stylesheet" href="/assets/css/bootstrap-table.min.css">
        <script src="/assets/js/bootstrap-table.min.js"></script>
        <script src="/assets/js/bootstrap-table-zh-CN.min.js"></script>

        <div class="container-fluid">


            <div class="row">
                <div class=" container-fluid">
                    <link rel="stylesheet" href="/assets/css/bootstrap-table.min.css">
                    <script src="/assets/js/bootstrap-table.min.js"></script>

                    <div id="toolbar">
                        <button id='uploadFile' type="button" class="btn btn-info my-2 my-sm-0" data-toggle="modal"
                            data-target="#myModal">بارگذاری</button>
                        <button id='deleteFile' type="button" class="btn btn-danger my-2 my-sm-0">حذف</button>
                        <!-- <button id='selectFile' type="button" class="btn btn-success my-2 my-sm-0">انتخاب</button> -->
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" aria-label="Close"
                                            data-dismiss="modal"><span class="text-danger"
                                                aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">بارگذاری فایل</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="uploadForm" method='post' action='/admin/uploadFile'
                                            enctype="multipart/form-data" onsubmit="return validateForm()">
                                            <label for="fileName">نام فایل (بدون فاصله و نقطه)</label>
                                            <input type='text' name='fileName' id='fileName' class='form-control'>
                                            <input type='file' name='file' id='file' class='form-control'>
                                            <br>
                                            <input type='submit' class='btn btn-info' value='Upload' id='btn_upload'>
                                        </form>
                                        <script>
                                            function validateForm() {
                                                let x = document.forms["uploadForm"]["fileName"].value;
                                                if (x == "" || x.includes('.') || x.includes(' ')) {
                                                    alert("نام مناسب برای فایل انتخاب نکرده اید.");
                                                    return false;
                                                }
                                            }
                                        </script>
                                        <!-- Preview-->
                                        <div id='preview'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="table" data-toggle="table" data-flat="true" data-search="true" data-height='500'
                        data-toolbar="#galleryToolbar" data-url="http://localhost:3000/admin/storage/fileData">
                        <thead>
                            <tr>
                                <th data-field="fileName" data-sortable="true">نام</th>
                                <th data-field="ext" data-sortable="true">نوع</th>
                                <th data-field="createdAt" data-sortable="true">زمان ساخت</th>
                                <th data-field="thumb" data-sortable="true" data-formatter="imgFormatter">پیش نمایش</th>
                                <th data-field="state" data-checkbox="true"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


    </section>
    <script>
        function imgFormatter(val, row) {
            return `<img width="48" hegiht="48" src="${row.thumb}" alt="${row.thumb}" />`;
        }

        const remove = $('#deleteFile')
        const table = $('#table')

        $(function () {
            table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
                remove.prop('disabled', !table.bootstrapTable('getSelections').length)
            })
            remove.click(function () {
                var ids = $.map(table.bootstrapTable('getSelections'), function (row) {
                    fetch(`/admin/delete/storage/${row.fileName}`, {
                        method: "DELETE",
                        headers: {
                        },
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((result) => {
                            console.log(result)
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                    return row.id
                })

                table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                })
                remove.prop('disabled', true)
            })

        })
    </script>
    </body>

    </html>