<%- include('../includes/head&side.ejs') %>


    <section class="vh-100 gradient-custom  p-4 ">

        <link rel="stylesheet" href="/assets/css/bootstrap-table.min.css">
        <script src="/assets/js/bootstrap-table.min.js"></script>

        <div class="container-fluid">
            <div class="row">
                <div class=" container-fluid">

                    <div id="galleryToolbar">
                        <% if(isAdmin){ %>
                            <button id='deletePost' type="button" class="btn btn-danger mx-1 ">حذف</button>

                            <% } %>
                                <% if(isAdmin || isAprover){ %>
                                    <button id='aprovePost' type="button" class="btn btn-info mx-1 ">تایید</button>
                                    <button id='deAprovePost' type="button" class="btn btn-warning mx-1 ">لغو
                                        تایید</button><button id='createPost' type="button"
                                        class="btn btn-success mx-1 "
                                        onclick="window.location.href='/admin/addCategory'">دسته بندی ها</button>
                                    <% } %>

                                        <button id='createPost' type="button" class="btn btn-success mx-1 "
                                            onclick="window.location.href='/admin/addPost'">ساخت نوشته</button>
                    </div>
                    <table id="table" data-toggle="table" data-flat="true" data-search="true" data-height='500' data-click-to-select='true'
                        data-toolbar="#galleryToolbar" data-url="http://localhost:3000/admin/postData">
                        <thead>
                            <tr>
                                <th data-field="post.postName" data-sortable="true">نام</th>
                                <th data-field="post.createdAt" data-sortable="true">زمان ساخت</th>
                                <th data-field="category" data-sortable="true">دسته</th>
                                <th data-field="tag" data-sortable="true">تگ</th>
                                <th data-field="simlar" data-sortable="true">مرتبط</th>
                                <th data-field="path" data-formatter="editRow">ویراش</th>
                                <th data-field="post.aproved" data-formatter="aproveRow">تایید</th>
                                <th data-field="state" data-checkbox="true"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <script>

            function editRow(value, row, index) {
                return [
                    `<button id='editPost' onclick="editPost(${row.post.id})" type="button" class="btn btn-info m-0 p-1">ویرایش</button>`
                ].join('');
            }
            function aproveRow(value, row, index) {
                if (value === false) {
                    return ` <p class=' m-0 p-1 text-danger font-weight-bold border rounded border-danger
                                            d-inline-flex bg-white'>تایید نشده
                                            </p>`
                } else {
                    return ` <p class=' m-0 p-1 text-success font-weight-bold border rounded border-success
                                            d-inline-flex bg-white'>تایید شده
                                            </p>`}
            }

            const remove = $('#deletePost')
            const table = $('#table')
            const aprove = $('#aprovePost')
            const deAprove = $('#deAprovePost')

            function editPost(e) {
                const postId = e
                window.location.href = `/admin/updatePost/${postId}`
            }



            $(function () {
                table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
                    remove.prop('disabled', !table.bootstrapTable('getSelections').length)
                    aprove.prop('disabled', !table.bootstrapTable('getSelections').length)
                    deAprove.prop('disabled', !table.bootstrapTable('getSelections').length)
                })

                deAprove.click(function () {
                    var ids = $.map(table.bootstrapTable('getSelections'), function (row) {
                        $.ajax({
                            type: 'POST',
                            url: `/admin/posts/deAprovePost/${row.post.postName}`,
                            success: function (result) { window.location.replace('/admin/posts') }
                        })
                    })
                    table.bootstrapTable('refresh')
                    deAprove.prop('disabled', true)

                })

                aprove.click(function () {
                    var ids = $.map(table.bootstrapTable('getSelections'), function (row) {
                        console.log(row)
                        $.ajax({
                            type: 'POST',
                            url: `/admin/posts/aprovePost/${row.post.postName}`,
                            success: function (result) { window.location.replace('/admin/posts') }
                        })
                    })
                    table.bootstrapTable('refresh')
                    aprove.prop('disabled', true)

                })
                remove.click(function () {
                    var ids = $.map(table.bootstrapTable('getSelections'), function (row) {
                        fetch(`/admin/delete/post/${row.post.postName}`, {
                            method: "DELETE",
                            headers: {
                            },
                        })
                            .then((response) => {
                                return response.json();
                            })
                            .then((result) => {
                                console.log(result)
                            })
                            .catch((err) => {
                                console.log(err);
                            });
                        return row.id
                    })
                    table.bootstrapTable('remove', {
                        field: 'id',
                        values: ids
                    })
                    remove.prop('disabled', true)
                })

            })

        </script>
    </section>

    <%- include('../includes/footer.ejs') %>