<%- include('../includes/head&side.ejs') %>


    <section class="vh-100 gradient-custom  p-4 ">
       
        <%- include('../includes/postGallery.ejs') %>

    </section>

    <%- include('../includes/footer.ejs') %>