<%- include('../includes/head&side.ejs') %>


  <section class="vh-100 gradient-custom p-5 d-flex flex-column justify-content-center">
    <link rel="stylesheet" href="/assets/css/monokai-sublime.min.css">
    <!-- Include stylesheet -->
    <link href="/assets/css/quill.snow.css" rel="stylesheet">

    <!-- Create the editor container -->


    <form id='saveData' action="/editor/editorPhoneNumber/addPost" method="post">
      <div id="toolbar" class=""></div>
      <div id="editor" class="bg-white mh-100"></div>

      <input class="btn btn-success btn-lg " value="ذخیره" type="submit" data-="">
    </form>


    <!-- Include the Quill library -->

    <script src="/assets/js/highlight.min.js"></script>
    <script src="/assets/js/quill.js"></script>
    <script src="/assets/js/image-resize.min.js"></script>

    <!-- Initialize Quill editor -->
    <script>



      var quill = new Quill('#editor', {
        modules: {

          imageResize: {
            displaySize: true
          },
          'syntax': true,
          'toolbar': [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
             [ 'link', 'image', 'video', 'formula' ],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']
          ]
        },
        theme: 'snow'
      });

      $('form').submit(function (e) {
        let content = quill.editor.scroll.domNode.innerHTML;
        // console.log(content)
        $.ajax(
          {
            url: "/editor/editorPhoneNumber/addPost",
            async: true,
            type: "POST",
            data: { post: content },
            encode: true,
            success: function (result) {
              window.location.replace('/');
            }
          });
        e.preventDefault()
      })

    </script>


  </section>

  </body>

  </html>