<%- include('../includes/head&side.ejs') %>


  <section class="vh-100 gradient-custom">

    <link href="/menuBuilder/menuGenerator/smartmenus/css/bootstrap.min.css" rel="value">

    <div class="navbar-collapse collapse">
      <ul id="menu1"></ul>
    </div>

    
    <script>
      $(document).ready(function () {
        var items = [{ "href": "#", "text": "Products", "icon": "fa fa-book", "children": [{ "href": "//github.com", "text": "Books", target: "_blank", "children": [{ "href": "#", "text": "Jquery" }, { "href": "http://codeigniterturoriales.com", "text": "Codeigniter" }, { "href": "#", "text": "Wordpress" }] }, { "href": "#", "text": "Software" }] }, { "href": "#", "text": "Sites", "children": [{ "href": "//codeignitertutoriales.com", "text": "My Blog" }, { "href": "#", "text": "GitHub" }] }];
        $('#menu1').renderizeMenu(items, {
          active: 'http://codeigniterturoriales.com',
          rootClass: "nav navbar-nav",
          menuClass: "dropdown-menu",
          submenuClass: "dropdown-menu",
          dropdownIcon: '<span class="caret"></span>'
        });
        jQuery.SmartMenus.Bootstrap.init();
        const nav = document.getElementById('menu1')
        console.log(nav)
      });
    </script>
<script src="/menuBuilder/menuGenerator/smartmenus/jquery-1.10.2.js"></script>
    <script src="/menuBuilder/menuGenerator/renderMenu.js"></script>
    <script type="text/javascript" src="/menuBuilder/menuGenerator/smartmenus/jquery.smartmenus.min.js"></script>
    <script type="text/javascript"
      src="/menuBuilder/menuGenerator/smartmenus/addons/bootstrap/jquery.smartmenus.bootstrap.js"></script>
  </section>

  <%- include('../includes/footer.ejs') %>