<%- include('../includes/head&side.ejs') %>
    <link href="/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet">


    <section class="vh-100 gradient-custom">
        <div class="container  h-100">
            <div class=" justify-content-center align-items-center h-100 mt-5">
                <div class="card text-right " style="border-radius: 15px;">
                    <h5 class=" m-2 card-header bg-secondary text-white" style="border-radius: 10px;">
                        تنظیمات
                    </h5>
                    <div class=" card-body   ">



                        <form action="/admin/settings" method="post">
                            <div class="row flex-row-reverse">
                                <p class="col-auto" dir="rtl">رنگ پس زمینه</p>
                                <input type="color" name="color" id="color">
                            </div>






                            <input class="btn btn-success my-2 border" type="submit" value="ذخیره" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>