<%- include('../includes/head&side.ejs') %>


  <section class="vh-100 gradient-custom px-5 mt-5 d-flex flex-column ">
    <link rel="stylesheet" href="/assets/css/monokai-sublime.min.css">
    <!-- Include stylesheet -->
    <link href="/assets/css/quill.snow.css" rel="stylesheet">
    <div class="modal fade" id="galleryModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content p-2">
          <%- include('../includes/fileGallery.ejs') %>
        </div>
      </div>
    </div>

    <%- include('../includes/quill.ejs') %>

      <div class="modal fade" id="tagModal">
        <div class="modal-dialog ">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span class="text-danger"
                  aria-hidden="true">×</span></button>
              <h4 class="modal-title">تگ ها</h4>
            </div>
            <div class="modal-body">

              <label for="fileName">تگ ها را با فاصه از هم وارد کنید</label>
              <input type='text' name='fileName' id='fileName' class='form-control'>
              <br>
              <input  type='submit' class='btn btn-info' value='ذخیره' id='btn_upload'>


            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="similarPostModal">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span class="text-danger"
                  aria-hidden="true">×</span></button>
              <h4 class="modal-title">نوشته های مرتبط</h4>
            </div>
            <div class="modal-body">

              <label for="fileName">جست و جو در نوشته ها</label>
              <input type="search" id="gsearch" name="gsearch">
              <br>
              <input type='text' name='fileName' id='fileName' class='form-control'>
              <br>
              <input type='submit' class='btn btn-info' value='ذخیره' id='btn_upload'>


            </div>
          </div>
        </div>
      </div>

  </section>

  <%- include('../includes/footer.ejs') %>