<%- include('../includes/head&side.ejs') %>


    <section class="vh-100 gradient-custom p-4 ">
        <div class="container-fluid">
            <div class="row">
                <div class=" container-fluid">

                    <div class="m-5">
                        <h5 class=' modal-title text-center '>ویرایش فهرست</h5>
                    </div>
                    <div class="container w-50">


                        <div class="card border-secondary mb-3 text-right">

                            <div class="card-header bg-secondary text-white">ویرایش</div>
                            <div class="card-body">
                                <form name="updateCategory" id="frmEdit" class="form-horizontal" action="/admin/updateCategory" method="post" autocomplete="off"
                                    onsubmit="return validateForm(event)">
                                    <label for="catTitle">دسته</label>
                                    <div class="input-group">
                                        <input type="catTitle" class="form-control item-menu" name="catTitle" id="catTitle"
                                            value='<%= oldInput.catTitle %>' dir="rtl">
                                    </div>
                                    <input type="hidden" name="catId" type="text" value="<%= oldInput.catId %>">
                                    <input type="submit" id="btnAdd" class="btn btn-success my-2"
                                        value="به روز رسانی"><i></i>
                                    </input>
                                </form>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <script>
        function validateForm(e) {
            let x = document.forms["updateCategory"]["catTitle"].value;
            if (x == "" || x.includes('.')) {
                alert("نام مناسب برای دسته انتخاب نکرده اید.");
                return false;
            }
        }
    </script>
    <%- include('../includes/footer.ejs') %>