<%- include('../includes/head&side.ejs') %>



    <section class="vh-100 gradient-custom">
        <div class="container  h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class=" card-body   ">

                            <h3 class="   pb-2  d-flex justify-content-center ">
                                تصویر کاربر
                            </h3>
                            <% if (errorMessage) { %>
                                <h6 class=" alert alert-danger d-flex justify-content-center  " role="alert">
                                    <%= errorMessage %>
                                </h6>
                                <% } %>
                                    <form name="avatarForm" method='post' action='/admin/updateAvatar'
                                        onsubmit="return validateForm()">
                                        <div class="row flex-row-reverse">
                                            <div class="col ">
                                                <input type="file" id="file" name='file' onchange="loadFile(event)"
                                                    class="form-control-lg m-2">
                                                <input class="btn btn-primary btn-lg " type="submit"
                                                    value="بروزرسانی" />

                                            </div>
                                            <div class="col ">
                                                <img class="rounded-circle" id="output" src="/pictures/avatar.png"
                                                    alt="" style="width: 150px;height: 150px;">
                                            </div>
                                        </div>

                                        <input type="number" name="userId" value="<%= userId %>" hidden>
                                        <input id='imageBase' type="text" name="imageBase" value="" hidden>

                                    </form>

                                    <script>
                                        var loadFile = function (event) {
                                            var output = document.getElementById('output');
                                            output.src = URL.createObjectURL(event.target.files[0]);

                                            if (event.target.files[0].type === 'image/jpg' || event.target.files[0].type === 'image/png' || event.target.files[0].type === 'image/jpeg' ||
                                                event.target.files[0].type === 'image/Jpeg') {
                                                var file = event.target.files[0];
                                                console.log(file)
                                                var resize_width = 128;
                                                var reader = new FileReader();
                                                reader.readAsDataURL(file);
                                                reader.name = file.name;//get the image's name
                                                reader.size = file.size; //get the image's size

                                                reader.onload = function (event) {
                                                    var img = new Image();//create a image
                                                    img.src = event.target.result;//result is base64-encoded Data URI
                                                    img.name = event.target.name;//set name (optional)
                                                    img.size = event.target.size;//set size (optional)
                                                    img.onload = function (el) {
                                                        var elem = document.createElement('canvas');//create a canvas

                                                        //scale the image to 600 (width) and keep aspect ratio
                                                        var scaleFactor = resize_width / el.target.width;
                                                        elem.width = resize_width;
                                                        elem.height = el.target.height * scaleFactor;

                                                        //draw in canvas
                                                        var ctx = elem.getContext('2d');
                                                        ctx.drawImage(el.target, 0, 0, elem.width, elem.height);

                                                        //get the base64-encoded Data URI from the resize image
                                                        var srcEncoded = ctx.canvas.toDataURL('image/png', 1);

                                                        //assign it to thumb src
                                                        output.onload = function () {
                                                            URL.revokeObjectURL(srcEncoded) // free memory
                                                        }

                                                        /*Now you can send "srcEncoded" to the server and
                                                        convert it to a png o jpg. Also can send
                                                        "el.target.name" that is the file's name.*/
                                                        console.log(srcEncoded);
                                                        document.forms['avatarForm']['imageBase'].value = srcEncoded
                                                    }
                                                }


                                            }
                                        };


                                        function validateForm() {
                                            if (!$("#file").get(0).files[0]) {
                                                alert('عکسی انتخاب نکرده اید')
                                                return false
                                            }
                                            const type = $("#file").get(0).files[0].type
                                            if (type === 'image/jpg' || type === 'image/png' || type === "image/jpeg"
                                                || type === 'image/Jpeg') {

                                            } else {
                                                alert('فقط فایل تصویری مجاز است')
                                                return false
                                            }


                                        }

                                    </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>